@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Oswald|Slabo+27px|Space+Mono);


html {
    background: url("../images/Header-Photo.jpg");
    background-color: grey;
    background-size: cover;
}

body {

}

.front {
	background-color: ;
  	text-align:center;
  	margin: 0 auto;
  	padding-top: 240px;
  	width: 650px;
  	height: 385px;
  	color: white;
}

.name {
	font-family: 'Oswald', serif;
  	font-size: 100px;
  	border-bottom: solid;
  	border-color: white;
  	border-width: 5px;
}

table {
	width: 100%;
	font-family: 'Space Mono', monospace;
	font-size: 30px;
}

td {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}

/*
Menu
*/

#sidebar {
	background-color: #556270;
	width: 90px;
	height: 100%;
	display: block;
	position: absolute;
	left: -90px;
	top: 0px;
	color: white;
	transition: left 0.3s linear;
	font-size: 0.75em;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
}

#sidebar.visible {
	left: 0px;
	transition: left 0.3s linear;
	font-family: 'Oxygen', sans-serif;
}

#sidebar-btn {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	width: 20px;
	height: 15px;
	cursor: pointer;
	margin: 20px;
	top: 0px;
	right: -60px;

}

#sidebar-btn span {
	height: 1px;
	background: #111;
	margin-bottom: 4px;
	display: block;
	background-color: white;
}

#icons {
	position: absolute;
	padding-top: 15px;
	padding-left: 30px;
	font-size: 30px;
}

#icons li {
	padding-bottom: 32px;
	list-style: none;
	color: #59E9DF;
}

#icons li:hover {
	color: #ffffff;
}
